<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinyougou.mapper.AreasMapper">

	<select id="findOne" resultType="Areas">
		SELECT * FROM tb_areas WHERE areaid = #{areaId}
	</select>

	<select id="findAllAreas" resultType="Areas">
		SELECT * FROM tb_areas
	</select>

    <select id="findAreasByCityId" resultType="Areas">
        SELECT * FROM tb_areas WHERE cityId = #{cityId}
    </select>
</mapper>